.content {
background-color: #e2e2e2;
padding-top: 30px;
}
.content.main-content.cours-content,
.content.main-content.boundle-content {
padding: 0;
text-align: justify;
} .training-level.expanded .triangle-icon {
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
}
.training-levels-title {
background-color: #7ea641;
position: relative;
text-align: center;
color: #ffffff;
font-weight: bold;
padding: 6px 0;
margin-bottom: 8px;
margin-top: 0;
cursor: pointer;
font-size: 14px;
}
.training-level-description{
display: none;
}
.training-level:first-child {
margin-top: 18px;
}
.triangle-icon {
position: absolute;
right: 20px;
top: 3px;
transition: 0.5s; width: 15px;
height: 20px;
}
.triangle-icon:before {
content: '';
position: absolute;
display: block;
width: 0;
height: 0;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
border-left: 15px solid white;
}
.course-title {
color: #df7c1c;
font-size: 18px;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 0px;
padding-left: 30px;
}
.training-level-link {
text-decoration: none;
color: #ffffff !important; 
background-color: #df7c1c;
padding: 2px;
}
.course-entry-title {
position: relative;
background-color: #7fa642;
font-size: 20px;
color: white;
text-align: center;
}
.course-entry-title.bundle {
padding-left: 0;
}
.news-images {
background-repeat: no-repeat;
background-size: cover;
width: 100%;
margin-bottom: 20px;
}
.course-info {
color: #ffffff;
background-color: #bababa;
text-align: center;
padding-top: 8px;
padding-bottom: 8px;
margin: 10px 52px 10px 43px;
}
.course-info.bundles {
color: #ffffff;
background-color: #bababa;
margin-bottom: 0;
}
.bx-wrapper { 
margin-bottom: 0px!important;
}
.bx-viewport{
max-height: 331px !important;
}
.course-info-item {
display: inline-block;
margin: 0 7px 0 0;
font-size: 15px;
border-right: 1px solid #ffffff;
padding-right: 10px;
}
.course-info-item:last-child {
border: none;
padding-right: 0px;
margin-right: 0px;
}
.course-content-outline p {
text-align: left;
margin: 0;
}
.course-content-outline ul {
margin-top: 10px;
}
.course-nav-bar {
overflow: hidden;
list-style: none;
width: 100%;
-webkit-padding-start: 0px;
-moz-padding-start: 0px;
-o-padding-start: 0px;
-ms-padding-start: 0px;
margin-bottom: 0;
}
.course-nav-bar.bundles {
margin-bottom: 0;
}
.course-nav-bar-item {
width: 20%;
float: left;
background-color: #6d6d6d;
padding: 10px 5px;
text-align: center;
border-right: 1px solid #ddd;
color: #ffffff;
cursor: pointer;
}
.course-nav-bar-item h2 {
font-size: 15px;
margin: 0;
}
.course-nav-bar.bundles .course-nav-bar-item {
width: 25%;
}
.course-nav-bar-item.active {
background-color: #df7c1c;
}
.course-nav-bar-item:last-child {
border-right: none;
}
.course-nav-bar-item:hover {
background-color: #df7c1c;
}
.course-content-title {
color: #df7c1c;
font-size: 15px;
font-weight: bold;
padding-left: 30px;
margin-top: 20px;
}
.course-content-item {
display: none;
padding: 20px 40px 10px 37px;
}
.course-content-item h3 {
margin: 2px 0;
font-size: 14px;
}
.course-content-item.course-content-overview {
display: block;
}
.post-content img{
width: 100%;
height: 100%;
}
.offer-subtitle {
position: relative;
display: inline-block;
padding: 9px 6px 9px 30px;
margin: 15px 0 5px;
background-color: #7ea641;
font-size: 15px;
color: white;
}
.offer-subtitle:before {
content: '';
display: block;
position: absolute;
top: -10px;
left: -37px;
width: 58px;
height: 58px;
background-color: #363636;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}
.course-content-offers p {
margin: 0 0 0 30px!important;
}
.offer-subtitle.group-bookings:before {
background: #363636 url(//docklandsmedia.com/wp-content/themes/docklands/images/svg/GroupBooking.svg) center center no-repeat;
}
.offer-subtitle.education:before {
background: #363636 url(//docklandsmedia.com/wp-content/themes/docklands/images//svg/Educational.svg) center center no-repeat;
}
.offer-subtitle.training-credits:before {
background: #363636 url(//docklandsmedia.com/wp-content/themes/docklands/images//svg/TrainingCredits.svg) center center no-repeat;
}
.offer-subtitle.early-bird:before {
background: #363636 url(//docklandsmedia.com/wp-content/themes/docklands/images//svg/EarlyBird.svg) center center no-repeat;
}
.offer-subtitle.astudents:before {
background: #363636 url(//docklandsmedia.com/wp-content/themes/docklands/images//svg/Student.svg) center center no-repeat;
}
.post-content { padding: 30px 48px 15px 38px;
}
.post-content:empty {
padding: 0;
}
.enquiry-form .form-group input {
width: 100%;
height: 32px;
border-radius: 0px;
background-color: #7EA641;
color: white;
border: none;
padding: 0 5px;
}
.enquiry-form .form-group textarea {
width: 100%;
background-color: #7EA641;
color: white;
border: none;
max-height: 103px;
border-radius: 0;
resize: none;
}
.enquiry-form label {
position: absolute;
left: 0;
top: 0;
width: 90px;
padding: 0 4px;
color: white;
background-color: #7EA641;
float: left;
font-weight: normal;
line-height: 32px;
}
.enquiry-form .form-group {
position: relative;
padding-left: 93px;
margin-bottom: 3px;
}
.enquiry-form .second-part-form .form-group {	
padding-left: 4px;
}
.enquiry-form .second-part-form label {
position: inherit;
margin-top: -1px;
}
#calendar {
overflow: hidden;
width: 100%;
color: #5F5F5F;
}
#calendar .dates-heading {
font-size: 16px;
}
#calendar ul {
padding: 0;
}
#calendar ul li{
border-bottom: 1px solid #5F5F5F;
list-style-position: inside;
max-width: 185px;
}
#calendar ul li:last-child {
border-bottom: none;
}
.course-slide {
width: 100%;
}
.slider-wrap {
padding: 30px 52px 0 43px;
display: none;
}
.slider-wrap.padding0 {
padding: 0;
}
.slider-wrap.training-course {
padding: 0 0 20px;
}
.slider-wrap.training-course .bx-viewport {
left: 1px;
}
.slider-wrap.training-course .bx-wrapper .bx-prev {
left: -27px !important;
}
.slider-wrap.training-course .bx-wrapper .bx-next {
right: -29px!important;
}
.course-content-outline .col-left {
float: left;
}
.course-content-outline .col-right {
float: right;
}
.date-col:nth-child(2) {
margin: 0 12.5%;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
bottom: 5px !important;
}
.single-course-template .bx-wrapper .bx-next {
background: url(//docklandsmedia.com/wp-content/themes/docklands/images/slider_arrow.png) no-repeat right center!important;
right: -22px!important;
}
.single-course-template .bx-wrapper .bx-prev {
background: url(//docklandsmedia.com/wp-content/themes/docklands/images/slider_arrow.png) no-repeat left center!important;
left: -32px!important;
}
.single-course-template .bx-wrapper .bx-controls-direction a {
width: 25px!important;
height: 42px!important;
opacity: 0.5;
}
.single-course-template .bx-wrapper .bx-controls-direction a:hover {
opacity: 1;
}
.course-image {
height: 43px;
width: 43px;
float: left;
}
h1.course-main-title {
padding: 11px 53px 10px 43px;
width: 100%;
display: block;
margin: 0;
font-size: 20px;
}
.course-info.full-width {
width: 100%;
margin: 0;
}
.content-header.training-course {
text-align: center;
margin: 0;
padding: 11px 0 10px;
}