/**/.content.left-side-bar {
position: relative;
padding-left: 48px;
padding-right: 40px
}
.content.left-side-bar:after {
content: "";
position: absolute;
background-color: #e2e2e2;
height: 100000px;
left: 0;
right: 0;
margin-top: -10px;
z-index: -10;
}
.blog-sidebar-header {
background-color: #df7c1c;
font-size: 20px;
color: white;
text-align: center;
position: relative;
padding: 7px 0;
cursor: pointer;
margin: 0;
background-color: #df7c1c;
}
.blog-sidebar-header.active {
background-color: #df7c1c;
}
.blog-sidebar-header-icon {
position: absolute;
left: -20px;
top: -7px;
width: 58px;
height: 58px;
z-index: 10;
background-image: url(//docklandsmedia.com/wp-content/themes/docklands/images/svg/Blog.svg);
background-color: #363636;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}
.btn-search {
width: 34px;
height: 34px;
background-color: #363636;
border: none;
background-image: url(//docklandsmedia.com/wp-content/themes/docklands/images/svg/Search.svg);
background-repeat: no-repeat;
background-position: 2px;
border-radius: 0;
}
.form-control.search {
background-color: #c9c9c9;
border-radius: 0;
border-color: #363636;
height: 34px !important;
}
.blog-side-bar-menu {
list-style: none;
padding-left: 0;
}
.blog-side-bar-menu li{
font-size: 20px;
padding: 10px 0;
cursor: pointer;
}
.blog-side-bar-menu li a {
color: #868686;
text-decoration: none;
}
.blog-side-bar-menu li.current-menu-item a,
.blog-side-bar-menu li.current-post-parent a,
.blog-side-bar-menu li a:hover {
color: #df7c1c;
}
.menu-social {	
padding: 0;
list-style: none;
text-align: right;
}
.menu-social li {	
display: inline-block;
}
.menu-social li a{	
width: 37px;
height: 22px;
display: inline-block;
border-radius: 2px;
margin: 0 2px;
text-align: center;
color: white;
}
.menu-social li a.mail-ru{
background-color: #1d8cfc;
}
.menu-social li a.facebook{
background-color: #336297;
}
.menu-social li a.linkedin{
background-color: #127cb4;
}
.menu-social li a.twitter{
background-color: #34c5f0;
}
.menu-social li a.gmail{
background-color: #e74237;
}
.menu-social li a{
background-color: #b61926;
position: relative;
}
.menu-social li a .fa{
position: absolute;	
top: 4px;
left: 11px;
}
.social-icon {
display: inline-block;
width: 14px;
height: 14px;
background-size: 100%;
background-repeat: 	no-repeat;
position: absolute;
top: 4px;
left: 11px;
}
.social-icon.icon-mail-ru {
background-image: url(//docklandsmedia.com/wp-content/themes/docklands/images/mail-ru.png);
}
.social-icon.icon-pinterest {
background-image: url(//docklandsmedia.com/wp-content/themes/docklands/images/pinterest.png);
}
.post-pogination {
padding-top: 10px;
}
.post-pogination-item a {
color: white;
}
.post-pogination-item a:hover, 
.post-pogination-item a:focus {
text-decoration: none;
color: white;
}
.post-pogination-item.previous {
float: left;
margin-left: -38px;
}
.post-pogination-item.previous a {
padding: 1px 21px 1px 18px;
display: block;
}
.post-pogination-item.next {
float: right;
margin-right: -48px;	
}
.post-pogination-item.next a {
padding: 1px 30px 1px 35px;
display: block;
}
.comments-content {
padding-top: 20px;
}
.allocated-title.comments{
padding: 3px 10px;
margin-bottom: 20px;
}
.form-inline {
margin-top:	15px; 
}
.name-input {
height: 24px !important;
background-color: #c9c9c9 !important;
border-radius: 0 !important;
}
.captcha-input {
height: 24px !important;
width: 100px !important;
background-color: #c9c9c9 !important;
border-radius: 0 !important;
}
.captcha-image {
width: 56px;
height: 18px;
background-image: url(//docklandsmedia.com/wp-content/themes/docklands/styles/images/captcha.png);
background-repeat: no-repeat;
position: absolute;
right: 160px;
top: 3px;
}
.comment-form {
position: relative;
}
.comment-area {
background-color: #c9c9c9 !important;
}
.form-group.inline-block {
display: inline-block;
}
.form-group.inline-block .form-control {
display: inline-block;
width: auto;
}
.name-of-autor {
padding-top: 10px;
color: #8bae56;
}
.time-publish {
font-size: 12px;
color: #909090;
}
.comment {
margin: 0;
}
.reply {
float: right;
color: #8bae56;
}
.content-header {
position: relative;
background-color: #7fa642;
font-size: 20px;
color: white;
padding: 7px 0 7px 38px;
}
.content-header.single-blog {
margin: 0;
padding: 11px 85px 10px 38px;
}
.content-header.category-subtitle {
margin: 0;
padding: 11px 48px 10px 38px;
}
.news-date {
position: absolute;
right: 10px;
top: 16px;
font-size: 14px;
color: #b0d971;
}
.title-of-news-wrapper {
margin-left: -38px;
margin-bottom: 20px;
overflow: hidden;
}
.news-item-wrapper h2.title-of-news-wrapper {
margin: 0 0 20px -38px;
overflow: hidden;
line-height: 20px;
}
.allocated-title {
background-color: #7fa642;
color: white;
}
.title-of-news {
padding: 3px 10px 3px 38px;
}
.title-of-news.allocated-title {
color: white;
text-decoration: none;
}
.date-of-news {
padding: 3px 5px;
background-color: #df7c1c;
color: white;
}
.description-news {
text-indent: 30px;
text-align: justify;
margin-bottom: 30px;
word-wrap: break-word;
}
.description-news a{
color: #df7c1c;
}
.news-item-wrapper {
word-wrap: break-word;
}
.news-item-wrapper img {
max-width: 100%;
height: auto;
margin-bottom: 10px;
}
.news-item-wrapper img.ajax-loader {
width: auto;
}
.news-item-wrapper h2 {
font-size: 14px;
margin: 2px 0;
}
.commnet-wrapper.child {
margin-left: 5%;
display: block;
float: left;
width: 95%;
}
.comment-form-author input,
.comment-form-email input,  
#captcha_code {
height: 24px !important;
background-color: #c9c9c9 !important;
border-radius: 0 !important;
border: 1px solid #ccc;
width: 95%;
}
.comment-form-author,
.comment-form-email {
float: left;
width: 25%;
}
.comment-form-author label,
.comment-form-email label,
#captcha_code_label {
display: block;
margin: 0;
}
.comment-form-comment label {
display: block;
margin-top:20px;
}
.comment-form-comment textarea {
background-color: #c9c9c9 !important;
border-radius: 0 !important;
border: 1px solid #ccc;
width: 100%;
max-height: 70px;
}
.form-submit {
text-align: right;
}
.form-submit input {
background-color: #7fa642;
color: white;
border: none;
}
.menu-wrapper {
text-align: right;
}
.ssba.ssba-wrap {
display: inline-block;
}
#url-for-share-wrap {
display: none;
margin-top: 6px;
}
.share-link {
width: 100%;
background-color: #ccc;
padding: 3px 5px;
border: none;
}
.share-button {
padding: 21px 17px 13px;
background-color: grey;
color: white;
border: none;
border-radius: 3px;
position: relative;
font-size: 19px;
top: -1px;
}
.share-button i {
position: absolute;
top: 8px;
left: 7px;
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg);
}
.menu-pagination {
padding: 0;
text-align: right;
}
.menu-pagination li {
display: inline-block;
background-color: #bbb;
border-radius: 50%;
width: 20px;
height: 20px;
text-align: center;
}
.menu-pagination li:hover, 
.menu-pagination li.activ {
background-color: #7fa642;	
}
.menu-pagination li a{
color: white;
text-decoration: none;
}
.captchaSizeDivLarge {
position: relative;
width: auto !important;
height: auto !important;
margin-right: 20px;
padding-top: 0 !important;
}
.captchaSizeDivLarge #si_image_com{
width: 80px;
height: 24px;
position: absolute;
top: 20px;
right: 23px;
}
.captchaSizeDivLarge + p {
margin-top: -8px;
}
.captchaSizeDivLarge #si_refresh_com {
float: right;
position: absolute;
right: 5px;
top: 23px;
width: 20px;
height: 20px;
}
.required {
position: relative;
top: -22px;
}
form#commentform br {
display: none;
}
.comment-form-comment #comment {
resize: none;
}
.comment-form-email {
width: 38%;
}
.comment-form-email input {
width: 95%;
}
.category-subtitle p {
margin: 0;
}