.content-header {
position: relative;
background-color: #7fa642;
font-size: 20px;
color: white;
padding: 7px 0 7px 38px;
}
.about-us-content-title {
color: #df7c1c;
font-size: 16px;
font-weight: bold;
padding-left: 28px;
}
.description-news {
text-indent: 30px;
text-align: justify;
margin-bottom: 30px;
}
.description-news a{
color: #df7c1c;
}
.description-news a:hover{
color: #df7c1c;
text-decoration: none;
} .teameter-name {
z-index: -1;
}
.btn-green {
font-size: 10px !important;
border: none;
color: #ffffff;
text-shadow: none;
background: #7ea641;
width: 124px;
height: 23px;
border-radius: 21px !important;
margin-top: -5px;
margin-left: 5px;
padding: 6px 10px;
}
.btn-green:hover {
color: #ffffff !important;
}
.teameter-wrap {
min-height: 210px;
margin-bottom: 20px;
}
.teameter-wrap img {
position: relative;
z-index: 10;
max-width: 135px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}
.teameter-description {
margin-top: 10px;
padding-left: 148px;
padding-top: 5px;
text-align: justify;
margin-bottom: 25px;
} .facilities-content-title {
text-align: center;
color: #df7c1c;
font-size: 16px;
font-weight: bold;
}
.facilities-content-title img:last-child {
margin-bottom: 70px;
}
.facilities-content-title img {
margin-bottom: 10px;
width: 90%;
} .clients-menu {
margin: 0  auto;
padding: 0;
width: 100%;
max-width: 410px;
list-style: none;
overflow: hidden;
}
.clients-menu li {
width: 50%;
height: 110px;
float: left;
border-bottom: 4px #bbb solid;
}
.clients-menu li img {
display: block;
width: 150px;
margin: 0 auto;
transform: translateY(-50%);
position: relative;
top: 50%;
}
.clients-menu li:nth-child(2n) {
border-right: 4px #bbb solid;
border-left: 2px #bbb solid;
}
.clients-menu li:nth-child(2n+1) {
border-left: 4px #bbb solid;
border-right: 2px #bbb solid;
}
.clients-menu li:nth-child(-n+2) {
border-top: 4px #bbb solid;} .support-content-title {
position: relative;
display: inline-block;
text-transform: uppercase;
padding: 7px 10px 8px 55px;
background-color: #7ea641;
font-size: 15px;
color: #ffffff;
margin: 30px 0 15px 14px;
}
.support-content-title:first-child {
margin-top: 5px;
}
.support-content-icon {
position: absolute;
top: -13px;
left: -14px;
width: 58px;
height: 58px;
border-radius: 30px;
background: #363636 url(//docklandsmedia.com/wp-content/themes/docklands/images/svg/Promise.svg);
background-repeat: no-repeat;
background-position: center;
}
.support-content-icon.letter-icon {
background: #363636 url(//docklandsmedia.com/wp-content/themes/docklands/images/svg/Email.svg);
}
.support-content-icon.phone-icon {
background: #363636 url(//docklandsmedia.com/wp-content/themes/docklands/images/svg/Phone.svg);
} .content-article-link{
color: #df7c1c;
}
.content-article-link:hover{
color: #df7c1c;
text-decoration: none;
}
.employee-photo {
position: absolute;
}
span.our-team-name {
font-size: 11px;
width: 121px;
display: block;
text-align: center;
background-color: #7EA641;
color: #ffffff;
padding: 3px 0;
border-radius: 12px;
margin: 0 auto;
}
.employee-photo img {
margin-bottom: 0px!important;
}