/*-------------bundles--------------*/
.content-header {
	position: relative;
	background-color: #7fa642;
	font-size: 20px;
	color: white;
	padding: 8px 0 7px 38px;
}

.bundles-content-title {
	color: #df7c1c;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.description-news {
	text-indent: 30px;
	text-align: justify;
	margin-bottom: 30px;
}
.bundles-content-link{
	color: #df7c1c;
}
.bundles-content-link:hover{
	color: #df7c1c;
	text-decoration: none;
}

.band-img {
	background: url(../images/yellow_band.png);
	width: 114px;
	height: 116px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	display: none;
}
.bundle.full-width {
    width: 100%;
    margin: 0;
}

