/*--------------- STYLES FOR contact-us--------------*/

/*///////////////////////////////////////////////////*/

.message-thank {
	display: none;
	margin-bottom: 20px;
}

.contact-us {
	background-color: #E2E2E2;
	padding: 30px 48px 15px 38px;
}

.contact-us-title {
	padding: 10px 0 10px 43px;
	text-transform: uppercase;
	color: white;
	background-color: #7EA641;
	font-size: 20px;
	margin: 0;
}

form {
	margin-bottom: 10px;
}


.contact-us-item-wrapper {
	margin-bottom: 20px;
}

.contact-us-item-wrapper address{
	margin-bottom: 10px;
	margin-top: 12px;
}


address p {
	margin-bottom: 3px;
}

.contact-us-item {
	position: relative;
	padding: 16px 0;
	margin-bottom: 14px;
}

.contact-us-item.first-item {
	margin-bottom: 0;
	padding-bottom: 3px;
}

.contact-us-item-name {
	margin-left: 40px;
	display: inline-block;
	background-color: #7EA641;
	color: white;
	padding: 1px 10px 1px 30px;
	text-transform: uppercase;
	font-size: 15px;
}

.contact-us-item-logo {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 58px;
	height: 58px;
	background-color: #363636;
    background-repeat: no-repeat;
	background-position: center;
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.contact-us-item-logo.on-line-form {
	background-image: url('/wp-content/themes/docklands/images/svg/Form.svg');
}

.contact-us-item-logo.e-mail{
	background-image: url('/wp-content/themes/docklands/images/svg/Email.svg');
}

.contact-us-item-logo.coll-us{
	background-image: url('/wp-content/themes/docklands/images/svg/Phone.svg');
}

.contact-us-item-logo.fax-us{
	background-image: url('/wp-content/themes/docklands/images/svg/Fax.svg');
}

.contact-us-item-logo.connect-with-us{
	background-image: url('/wp-content/themes/docklands/images/svg/Social.svg');
}

.contact-us-item-logo.find-us{	
	background-image: url('/wp-content/themes/docklands/images/svg/Map.svg');
}

.first-part-form {
	margin-top: 37px;
}

.contact-us label {
	position: absolute;
	left: 0;
	top: 0px;
	width: 104px;
	padding: 0 4px;
	color: white;
	background-color: #7EA641;
	float: left;
	font-weight: normal;
	line-height: 32px;
}

.contact-us .form-group {
	position: relative;
	padding-left: 108px;
	margin-bottom: 3px;
}

.contact-us .second-part-form .form-group {	
	padding-left: 4px;
}

.contact-us .second-part-form label {
	position: inherit;
	margin-top: -1px;
}

.contact-us .form-group input {
	width: 100%;
	height: 32px;
	border-radius: 0px;
	background-color: #7EA641;
	color: white;
    border: none;
    padding: 0 5px;
}

.contact-us .form-group textarea {
	width: 100%;
	background-color: #7EA641;
	color: white;
	border: none;
	max-height: 138px;
	border-radius: 0;
    resize: none;
}

.btn-submit-wrapper {
	text-align: right;
}
.btn-submit-wrapper > img{
	display: none !important;
}

.btn-submit-wrapper input {
	background-color: #7EA641;
	color: white;
	border-radius: 0px;
	padding: 4px 8px;
}

.social-buttons {
	margin-top: 12px;	
}
.social-buttons a {
	display: inline-block;
    padding: 0;
    width: 55px;
    height: 55px;
    background-size: cover;
    border-radius: 11px;
}

.social-buttons a.facebook {
    background-image: url(/wp-content/themes/docklands/images/social/facebook.png);
}

.social-buttons a.twitter {
    background-image: url(/wp-content/themes/docklands/images/social/twitter.png);
}

.social-buttons a.linkedin {
    background-image: url(/wp-content/themes/docklands/images/social/linkedin.png);
}

.social-buttons a.vimeo {
    background-image: url(/wp-content/themes/docklands/images/social/vimeo.jpg);
}

.social-buttons a.youtube {
    background-image: url(/wp-content/themes/docklands/images/social/youtube.jpg);
}

.social-buttons a.google {
    background-image: url(/wp-content/themes/docklands/images/social/google.png);
}