
/*--------------- STYLES FOR MAIN-CONTENT------------*/
/*///////////////////////////////////////////////////*/

.main-content {
	min-height: -webkit-calc(100% - 248px); 	
	min-height: -moz-calc(100% - 248px); 	
	min-height: calc(100% - 248px); 	
	padding-bottom: 152px;
}

.carousel-inner img {
	min-width: 100%;
}

.courses-wrapper {
	position: relative;
	text-align: center;
}

.course-item {
	position: relative;
	min-height: 168px !important;
	margin-top: 27px;
	background-color: #E2E2E2;
}

.course-item-visible {
	height: 138px;
}

.course-item-hidden {
	display: none;
	background-color: #646464;
	color: white;
	height: 138px;
	font-size: 12px;
	padding: 1px 14px;
    text-align: justify;
    text-indent: 20px;
    overflow-y: auto;
}

.course-name {
	text-transform: uppercase;
	margin-top: 7px;
	line-height: 26px;
    font-size: 18px;
    margin-bottom: 20px;
}

.course-logo {
	position: absolute;
	top: -11px;
	left: -10px;
	background-color: #363636;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 56px;

    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.course-logo.smoller {	
    width: 35px;
    height: 35px;    
    background-size: 33px;
}

.course-content-icons {
	margin: 10px 0;	
}

.course-content-icons .course-icon {
	padding: 0 10px;	
}

.course-content-icons .course-icon img {
	width: 64px;	
	height: 64px;
}

.collapsed-btn {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: white;
	font-size: 16px;
	padding: 3px 7px 0 0;
	height: 30px;
	background: #646464;
}

.collapsed-btn span {
	display: inline-block;
	padding-top: 1px;
	cursor: pointer;
}

.collapsed-btn .collaps-less {
	display: none;
}

.collapsed-btn.toggle .collaps-less {
	display: inline-block;
}

.collapsed-btn.toggle .collaps-more {
	display: none;
}


/*-------------------------*/

.docklands-media-description {
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: justify;
	font-size: 13px;
}

.read-more-collapse {
	display: inline-block;
	background-color: #7ea641;
	color: white;
	font-size: 15px;
	border: none;
}

.read-more-collapse:hover {
	background-color: #73963C;
}

.read-more-collapse .read-less {
	display: none;
}

.read-more-collapse.open .read-less {
	display: inline-block;
}

.read-more-collapse.open .read-more {
	display: none;
}

.block-collapse {
	display: none;
}
.course-name:last-child {
	padding-left: 10%;
}
.course-entry-title.bundle {
	line-height: 43px;
}