.who-we-are {
	top: -9px;
    left: -21px;
}

.our-team {
	top: -9px;
    left: -21px;
    background-position: center -39px;
}

.facilities {
	top: -9px;
    left: -21px;
    background-position: center -96px;
}

.clients {
	top: -9px;
    left: -21px;
    background-position: center -150px;
}

.support {
	top: -9px;
    left: -21px;
    background-position: center -215px;
}

.other-services {
	top: -9px;
    left: -21px;
    background-position: center -341px;
}

.blog {
	top: -9px;
    left: -21px;
    background-position: center -403px;
}

.sub-side-bar { 
	list-style: none;
	font-size: 18px;
	display: none;
}
.sub-side-bar li a { 
	color: #333333;
}
.sub-side-bar-item-active a {
	color: #df7c1c !important;
}



/*---------- courses-menu -----------*/

.sidebar-menu-wrapper {
	background-color: #e2e2e2;
	padding-bottom: 1px;	
}

/* .sidebar-menu-wrapper:after {
	content: "";
	position: absolute;
	background-color: #e2e2e2;
	height: 100000px;
    left: 30px;
    right: 0;
    z-index: -10; 
} */

.sidebar-menu-wrapper > ul {
	list-style: none;
	padding: 0px;
	margin-bottom: 0px;
}

.sidebar-menu-wrapper > ul > li {
    background-color: #E2E2E2;
    position: relative;
    margin-bottom: 22px;
}

.sidebar-menu-wrapper > ul#bundles_sidebar_menu > li:hover::after {
    content: "";
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    background: url(../images/band.png);
    width: 33px;
    height: 33px;
    background-size: 100%;
    display: none;
}

.sidebar-menu-wrapper > ul > li:before {
    content: '';
    display: block;
    position: absolute;
    left: -10px;
    top: -7px;
    width: 58px;
    height: 58px;
    background-color: red;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #363636;
}

.sidebar-menu-wrapper > ul > li > a:hover {
    background-color: #DF7C1C;
}
.sidebar-menu-wrapper > ul > li > a.active {
    background-color: #DF7C1C;
}

.sidebar-menu-wrapper > ul > li > a{
	display: block;
	font-size: 20px;
	color: #FFF;
	text-align: center;
	padding: 8px 0 7px 15px;
	cursor: pointer;
	background-color: #A8A8A8;
	text-transform: uppercase;
	text-decoration: none;
}

.sidebar-menu-wrapper > ul > li > ul{
    list-style: none;
    display: none;
    padding-top: 15px;
}

.sidebar-menu-wrapper > ul > li > ul > li{
    padding: 10px 0;
}

.sidebar-menu-wrapper > ul > li > ul > li > a{
    color: #868686;
    font-size: 24px;
    padding: 10px 0px;
    cursor: pointer;
    text-decoration: none;
}

.sidebar-menu-wrapper > ul > li > ul > li > a:hover {
    color: #DF7C1C;
}

.sidebar-menu-wrapper > ul > li > ul > li> ul{
    display: none;
    list-style: none;
    padding-left: 30px;
}

.sidebar-menu-wrapper > ul > li > ul > li > ul >li > a{
    color: #333;
    font-size: 20px;
    text-decoration: none;
}
.sidebar-menu-wrapper > ul > li > a > img {
    position: absolute;
    left: 19px;
    top: -4px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.sidebar-menu-wrapper > ul > li > ul > li > a > img {
	width: 25px;
	height: 25px;
}

.sidebar-menu-wrapper > ul > li > ul > li > ul >li > a:hover{
    color: #DF7C1C;
}


.sidebar-menu-wrapper > ul > li > ul > li> ul >li {
	position: relative;
    line-height: 24px;
}

.sidebar-menu-wrapper > ul > li > ul > li> ul >li:after {
    content: "-";
    display: block;
    position: absolute;
    left: -9px;
    top: 0;
}


.sidebar-menu-wrapper > ul#about_us_sidebar_menu > li.current-menu-item a {
    background-color: #DF7C1C;
}


.sidebar-menu-wrapper > ul > li.current-menu-ancestor > ul {
    display: block;
}

.sidebar-menu-wrapper > ul > li.current-menu-ancestor > a {
    background-color: #DF7C1C;
}

.sidebar-menu-wrapper > ul > li.current-menu-ancestor > ul > li.current-menu-item > ul, 
.sidebar-menu-wrapper > ul > li.current-menu-ancestor > ul > li.current-menu-ancestor > ul {
    display: block;
}

.sidebar-menu-wrapper > ul > li.current-menu-ancestor > ul > li.current-menu-item > a, 
.sidebar-menu-wrapper > ul > li.current-menu-ancestor > ul > li.current-menu-ancestor > a, 
.sidebar-menu-wrapper > ul > li.current-menu-ancestor > ul > li.current-menu-ancestor > ul > li.current-menu-item > a{
     color: #DF7C1C;
}

img._mi._before {
    font-size: 20px;
}