/*-----------------@media query-----------------*/


@media (min-width: 1600px) {
    .side-bar-wrap {
        width: 20%;
    }
}

@media (min-width: 1900px) {
    .side-bar-wrap {
        width: 18%;
    }
}


@media (max-width: 1200px) {

    .course-content-icons .course-icon {
        padding: 0 8px;
    }

    .bottom-center li {
        margin-bottom: 10px;
    }

    .bottom-center li:nth-child(2) {
        padding: 0;
    }

    .padding-right-media {
        padding-right: 0px !important;
    }

    .course-name {
        font-size: 19px;
        margin-bottom: 20px;
    }

    .course-item-hidden {
        font-size: 11px;
    }
    .col-md-3.date-col {
        width: 33.33%!important;
        margin: 0!important;
    }
}

@media (min-width: 992px) {
    .col-md-3.date-col {
        width: 33.33%!important;
        margin: 0!important;
    }
}

@media (max-width: 991px) {
    .navbar-menu .navbar-menu-item a {
        font-size: 23px;
    }

    .copy-right {
        text-align: left;
    }

    .navbar-menu li a {
        font-size: 21px;
    }
    .navbar-menu li {
        margin: 0 2.5%;
    }

    .sidebar-menu-wrapper > ul > li > a {
        padding: 12px 0 9px 35px;
        font-size: 16px;
    }

    .sidebar-menu-wrapper > ul > li > ul {
        padding-left: 20px;
    }

    .content.left-side-bar {
        padding-left: 25px;
        padding-right: 25px;
    }

    .padding-right-media {
        padding-right: 15px !important;
    }

    .enquiry-form .second-part-form .form-group {
        padding-left: 0;
    }

    .enquiry-form.first-part-form {
        margin-top: 0;
    }

    .bottom-right-side-item:last-child {
        margin-left: 35px;
        margin-right: 7px;
    }

    .bottom-center {
        padding: 0;
    }

    .title-of-news {
        padding: 0px 3px 0px 38px;
        text-decoration: none;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        max-width: 340px;
        float: left;
    }

    .date-of-news {
        padding: 0px 5px;
        float: left;
    }

    .course-content-outline .col-right {
        float: left;
    }

    .col-md-3.date-col {
        width: 50%!important;
        float: left!important;
        margin: 0!important;
    }

    .comment-form-email {
        width: 25%;
    }

    .bottom-right-side-item:nth-child(4) {
        margin-right: 15px;
    }

    .bottom-right-side-item:last-child {
        margin-bottom: 0;
    }

    .bottom-center {
        margin-bottom: 0;
        width: 100%;
    }

    .bottom-right-side-wrapper {
        width: 75%!important;
        float: right!important;
    }

    .bottom-center li {
        margin-left: 0;
        width: 32%;
        text-align: center;
    }
    .bottom-center li:last-child {
        margin-left: 0;
    }
    .bottom-links-wrapper {
        width: 25%!important;
        float: left;
        padding: 0;
    }
    .footer-menu {
        text-align: left;
        padding-top: 10px;
    }
    .footer-menu li {
        border-right: none;
        padding: 0 0 0 15px;
        line-height: 18px;
        display: block;
    }
    .footer-menu li:before {
        display: inline-block;
        content: '';
        position: absolute;
        left: 0;
        top: 7px;
        width: 4px;
        height: 4px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: white;
    }

    .course-entry-title:not(.bundle) {
        position: relative;
        min-height: 65px;
    }

    .course-image {
        position: absolute;
        left: 0;
        height: 65px;
        width: 65px;
    }

    h1.course-main-title {
        padding: 0 15px 0 75px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .single-course-template .content.main-content.cours-content {
        height: calc(100% - 65px);
    }
    .boundle-content.content.main-content {
        height: 100%;
    }
}
@media (min-width: 768px) {

    .navbar.navbar-customize {
        display: block !important;
    }


    .block-wrapper {
        padding-left: 30px !important;
        margin-left: -10px !important;
        padding-right: 0px !important;
    }

    .block-wrapper, .content-wrapper {
        padding-top: 10px;
    }

    .navbar-menu li {
        padding: 18px 0 8px;
    }
    .col-md-3.date-col {
        padding: 0 10px;
    }

}

@media (max-width: 767px) {

    header {
        padding-top: 15px;
    }

    .course-content-item {
        padding: 10px 40px 0 37px;
    }
    .course-info-item {
        border-right: none;
    }

    .content.left-side-bar:after {
        top: -55px;
        z-index: -10;
    }

    .sidebar-menu-wrapper:after {
        left: 15px;
        right: 15px;
        top: -20px;
        z-index: -10;
    }

    .content-wrapper {
        margin-bottom: 20px;
    }

    .container.padding-top10 {
        padding-top: 0;
    }

    .content-header {
        padding-left: 43px
    }

    .slogan {
        float: none;
        text-align: center;
        margin-bottom: 35px;
        margin-bottom: 0;
    }

    .slogan .first-line,
    .slogan .second-line {
        display: inline-block;
        font-size: 13px;
        margin-bottom: 0;
        color: #afafaf;
    }

    .logo-and-slogan-wrapper {
        padding-bottom: 35px;
    }

    .first-line .selected-text {
        color: #afafaf;
    }

    .main-content {
        min-height: -webkit-calc(100% - 195px);
        min-height: -moz-calc(100% - 195px);
        min-height: calc(100% - 195px);
        padding-bottom: 134px;
    }

    .navbar-nav.navbar-menu {
        margin: 0;
    }

    .navbar-menu li {
        max-width: 100%;
        border-bottom: 2px solid white;
        background-color: #E2E2E2;
        text-align: center;
        margin: 0;
    }

    .navbar-menu li:last-child{
        border-bottom: none;
    }

    .navbar-menu li:first-child,
    .navbar-menu li:last-child {
        float: none;
        text-align: center;
        margin: 0;
    }

    .navbar-menu li a {
        font-weight: 800 !important;
    }

    .share_buttons {
        display: none;
    }

    .btn-collapsed-navbar {
        display: block;
    }

    .navbar.navbar-customize {
        border-bottom: 1px solid #afafaf;
        margin-bottom: 10px;
        display: none;
        min-height: 0;
    }

    .error-img {
        max-height: 200px;
    }

    .page-not-exist-title{
        font-size: 35px;
    }

    .page-not-exist-advice {
        font-size: 18px;
    }

    .contact-us .second-part-form .form-group {
        padding-left: 0;
    }

    .contact-us-item.first-item form{
        margin-top: 30px;
    }

    .contact-us-title {
        padding-left: 20px;
    }

    .first-part-form {
        margin-top: 0;
    }

    .brand {
        width: 290px;
        margin: 0 auto;
        float: none;
        background-position: center 10px;
    }

    .sidebar-menu-wrapper > ul > li:last-child {
        margin-bottom: 8px
    }

    .sidebar-menu-wrapper > ul > li > a {
        padding: 8px 0 7px;
        font-size: 20px;
    }

    .sidebar-menu-wrapper > ul > li > ul {
        padding-left: 40px;
    }

    .sidebar-menu-wrapper > ul > li > ul > li> ul {
        padding-left: 35px;
    }

    .bottom-right-side-item:last-child {
        margin-left: 11px;
        margin-right: 0;
    }

    .content.main-content,
    .post-content,
    .contact-us,
    .course-content-item {
        padding-left: 43px;
        padding-right: 45px;
    }

    .title-of-news-wrapper {
        margin-left: -43px;
    }

    .title-of-news {
        padding-left: 43px;
    }

    .bottom-right-side-wrapper {
        margin-left: 0;
        padding: 0 15px !important;
        float: none !important;
        width: 100% !important;
    }

    .blog-sidebar-header-icon {
        left: -15px;
    }
    .content-header.single-blog {
        padding-left: 43px;
    }

    .captchaSizeDivLarge #si_image_com {
        left: 350px;
    }

    .captchaSizeDivLarge #si_refresh_com {
        left: 427px;
    }

    .comment-form-author, .comment-form-email {
        width: 140px;
    }

    .bottom-right-side-item:nth-child(4) {
        margin-right: 0;
    }

    .bottom-right-side-item:last-child {
        margin-bottom: 10px;
    }

    .bottom-links-wrapper {
        width: 100%!important;
        float: none;
    }

    footer {
        text-align: center;
        margin-top: -114px;
    }

    .bottom-center {
        text-align: center;
    }

    .bottom-center li {
        display: block;
        width: 50%;
        min-height: 60px;
        float: left;
    }

    .bottom-center li.media-line {
        display: none;
    }

    .bottom-center li:nth-child(5) {
        padding-top: 10px;
    }

    .footer-menu {
        overflow: hidden;
    }

    .footer-menu li {
        display: block;
        width: 30%;
        float: left;
        padding-left: 10px;
    }
    .footer-menu li:nth-child(3n+1) {
        width: 40%;
    }

    .footer-menu li:before {
        content: none;        
    }

    .copy-right {
        display: none;
    }

    .docklands-media-description.hidden {
        display: block !important;
        margin: 20px 0 0;
    }

    .docklands-media-description {
        display: none;
    }

    .post-pogination-item.previous {
        margin-left: -43px;
    }

    .post-pogination-item.next {
        margin-right: -45px;
    }

    .course-info-item {
        margin-right: 0;
        display: block;
        padding: 5px;
    }

    .offer-subtitle:before {
        left: -20px;
    }

    .offer-subtitle {
        padding-left: 45px;
    }

    .col-md-3.date-col {
        width: 33.33%!important;
    }

    .main-block-wrap {
        display: block;
    }

    .hide-on-mobile {
        display: none !important;
    }

    .show-on-mobile {
        display: block;
    }
}
@media (max-width: 690px) {
    .col-md-3.date-col {
        width: 50%!important;
    }
}

@media (max-width: 640px) {
    .employee-photo {
        position: initial;
        text-align: center;
    }

    .team-wrap {
        min-height: auto;
    }

    .teameter-description {
        padding-left: 0;
    }

    .content.main-content,
    .post-content,
    .course-content-item,
    .contact-us {
        padding-left: 15px;
        padding-right: 15px;
    }

    .content-header {
        padding-left: 20px
    }

    .post-pogination-item.previous {
        margin-left: -20px;
    }

    .post-pogination-item.next {
        margin-right: -20px;
    }

    .title-of-news-wrapper {
        margin-left: -15px;
    }

    .title-of-news {
        padding-left: 20px;
    }

    .social-buttons a {
        width: 42px;
        height: 42px;
        background-size: cover;
    }

    .slider-wrap.training-course .bx-controls-direction {
        display: none;
    }
    .content-header.single-blog {
        padding-left: 15px;
    }
    .show-on-mobile .sidebar-menu-wrapper:after {
        left: -20px;
        right: -20px;
    }
}

@media (max-width: 570px) {
    .col-md-3.date-col {
        width: 50%!important;
    }

    .comment-form-email,
    .comment-form-author {
        width: 50%;
    }

    .captchaSizeDivLarge #si_image_com {
        top: 74px;
        left: 73px;
    }

    .captchaSizeDivLarge #si_refresh_com {
        top: 76px;
        left: 150px;
    }
}

@media (max-width: 480px) {

    .course-content-icons .course-icon {
        padding: 0 6px;
    }

    .error-img {
        max-height: 150px;
    }

    .page-not-exist-title{
        font-size: 28px;
    }

    .page-not-exist-advice {
        font-size: 16px;
    }

    .content-contuct .container {
        padding: 0 7px;
    }

    .sidebar-menu-wrapper > ul > li > a {
        padding: 9px 0;
        font-size: 18px;
    }

    .sidebar-menu-wrapper > ul > li > ul {
        padding-left: 25px;
    }

    .course-nav-bar-item {
        width: 32%;
    }
    .course-nav-bar-item:last-child {
        width: 36%;
    }

    .course-nav-bar-item:nth-child(-n+2) {
        width: 50%;
        border-bottom: 1px solid #ffffff;
    }

    .course-nav-bar-item:nth-child(2) {
        border-right: none;
    }

    .course-nav-bar.bundles .course-nav-bar-item:nth-child(2) {
        border-right: 1px solid #ddd;
    }

    .course-nav-bar.bundles .course-nav-bar-item:nth-child(-n+2) {
        border-bottom: none;
        width: 25%;
    }

    .course-nav-bar.bundles .course-nav-bar-item:last-child {
        line-height: 14px;
        padding: 6px 0;
    }
    .course-nav-bar.bundles .course-nav-bar-item>span {
        max-width: 55px;
        display: inline-block;
    }
    .menu-social li a {
        margin: 0;
    }

    .post-pogination-item.next a {
        padding: 1px 23px 1px 28px;
    }

    .post-pogination-item.previous a{
        padding: 1px 14px 1px 11px;
    }

    .title-of-news {
        max-width: 188px;
    }

    .col-md-3.date-col {
        margin: 0 auto !important;
        min-width: 185px !important;
        float: none !important;
    }

    .slider-wrap {
        padding: 15px 15px 0;
    }
    .bx-controls-direction {
        display: none;
    }
    .bx-wrapper {
        left: 5px;
    }
    .course-info {
        margin: 10px 15px 10px 15px;
        padding: 0;
    }
    .course-info-item:nth-child(2) {
        padding: 0;
    }

    .ssba img.ssba.ssba-img{
        width: 37px !important;
    }
    .share-button {
        padding: 18px 16px 13px;
        top: -3px;
    }
    .share-button i {
        top: 6px;
        left: 6px;
    }

    .captchaSizeDivLarge {
        margin-left: 0 !important;
    }

    .comment-form-comment label{
        margin-top: 0;
    }

    .course-main-title {
        padding: 11px 43px 10px 43px;
    }

    .content-header.training-course {
        padding: 11px 3px 10px;
    }

    footer {
        padding: 10px 0 35px;
    }

    .training-levels-title {
        text-align: left;
        padding-left: 8px;
    }

    .triangle-icon {
        right: 6px;
    }
}

@media (max-width: 380px) {
    .bottom-right-side-item:first-child {
        padding-top: 10px;
    }
    .bottom-right-side-item img {
        width: 130px !important;
    }
    .bottom-right-side-wrapper {
        padding: 0 7px !important;
    }
}
