.unslider{ margin:0;padding:0; position: relative; border:5px solid #fff; border-bottom: none;}
.unslider-wrap{position:relative}
.unslider-wrap.unslider-carousel>li{float:left}
.unslider-vertical>ul{height:100%}
.unslider-vertical li{float:none;width:100%;}
.unslider-fade{position:relative}
.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}
.unslider-fade .unslider-wrap li.unslider-active{z-index:10}
.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none; display: inline-block;}
.unslider-arrow.next{left:auto;right:20px}
.unslider-wrap li img {width: 100%;}
.unslider-nav {position: absolute; bottom: 2px; display: block; text-align: center; width: 100%;}
.unslider-nav li { background: #666; text-indent: -9999px; width: 10px; height: 10px; margin: 0 5px; cursor: pointer; outline: 0;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.unslider-nav li.unslider-active { background: #fff;}

.unslider-arrow{position:absolute; top: 50%; margin-top: -16px; outline: 0; z-index: 9999;text-indent: -9999px; cursor:pointer; width: 25px; height: 42px;}
.unslider-arrow.next {right: -33px; background: url(../images/slider_arrow.png) no-repeat right center;}
.unslider-arrow.prev {left: -33px; background: url(../images/slider_arrow.png) no-repeat left center;}
.unslider:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #fff;
    bottom: 0;
}