/*
Theme Name: docklands
Theme URI: http://www.http://goproductionsuk.com//
Description: theme for Docklands Media
Version: 1
Author: author
Author URI: http://www.http://goproductionsuk.com//
*/

div.wpcf7-mail-sent-ok {
    clear: both;
    border: none;
    color: #398f14;
}

div.wpcf7-validation-errors {
    clear: both;
    border: none;
    color: #f00;
}

.div.wpcf7 img.ajax-loader {
    display: none !important;
}