html, body {
height: 100%;
}
header {
padding-top: 65px;
}
.main-content {
overflow: hidden;
}
.content.main-content {
overflow: visible;
padding: 30px 48px 15px 38px;
position: relative;
}
.content.main-content:after {
content: "";
position: absolute;
background-color: #e2e2e2;
height: 1000px;
left: 0;
right: 0;
z-index: -10;
}
.brand {
float: left;
display: block;
width: 361px;
height: 77px;
margin-top: 8px;
background: url(//docklandsmedia.com/wp-content/themes/docklands/images/svg/DocklandsMediaLogo.svg) no-repeat center;
background-size: 100%;
background-position: -12px center;
}
.slogan {
float: right;
margin-top: 0;
}
.slogan .first-line {
font-size: 25px;
margin-bottom: 0;
}
.slogan .second-line {
font-size: 20px;
color: #df7c1c;
text-align: right;
margin-bottom: 0;
}
.first-line .selected-text {
color: #7ea641;
}
.share_buttons a {
display: inline-block;
width: 18px;
height: 18px;
margin-top: 18px;
background-size: cover;
border-radius: 4px;
}
.share_buttons .twitter {
background-image: url(//docklandsmedia.com/wp-content/themes/docklands/images/social/twitter.png);
}
.share_buttons .facebook {
background-image: url(//docklandsmedia.com/wp-content/themes/docklands/images/social/facebook.png);
}
.share_buttons .linked-in {
background-image: url(//docklandsmedia.com/wp-content/themes/docklands/images/social/linkedin.png);
}
.btn-collapsed-navbar {
display: none;
padding: 10px 0;
border: none;
background-color: transparent;
position: absolute;
bottom: 7px;
right: 0;
}
.icon-bar {
position: relative;
display: block;
width: 35px;
height: 4px;
background-color: #646464;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}
.icon-bar:after,
.icon-bar:before {
content: "";
position: absolute;
display: block;
width: 35px;
height: 4px;
background-color: #646464;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}
.icon-bar:after {
top: -10px;
}
.icon-bar:before {
bottom: -10px;
}
.logo-and-slogan-wrapper {
position: relative;
} .navbar.navbar-customize {
border-top: 1px solid #afafaf;
margin-top: 16px;
margin-top: 5px;
margin-bottom: 0;
display: block;
border-radius: 0;
}
.navbar-menu {
width: 100%;
}
.navbar-menu li {
width: auto;
max-width: 16%;
text-align: center;
margin: 0 3%;
}
.navbar-menu li a:hover,
.navbar-menu li a:focus {
background-color: transparent !important;
}
.navbar-menu li:first-child {
text-align: left;
margin: 0 2.5% 0 0;
float: left;
}
.navbar-menu li:last-child {
text-align: right;
margin: 0 0 0 1.5%;
float: right;
}
.navbar-menu li a {
text-transform: uppercase;
font-size: 26px;
display: inline-block;
font-weight: bold;
color: #363636;
padding-left: 0 !important;
padding-right: 0 !important;
}
.navbar-menu li.current-menu-item a,
.navbar-menu li.current-page-ancestor a,
.navbar-menu li a:hover {
color: #df7c1c ;
} /*/*/footer {
padding: 20px 0;
background: #bbbbbb;
margin-top: -140px;
}
.footer-menu {
padding: 0;
text-align: center;
}
.footer-menu li {
display: inline-block;
position: relative;
padding: 3px 25px;
line-height: 16px;
border-right: 1px solid white;
}
.footer-menu li:last-child {
border-right: none;
}/**/.footer-menu li a{
color: white;
}
.dot {
display: inline-block;
position: relative;
padding: 0 7px;
}
.dot:before {
display: inline-block;
content: '';
position: absolute;
left: 5px;
top: -6px;
width: 4px;
height: 4px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
background-color: black;
}
.text-uppercase {
text-transform: uppercase;
font-size: 10px;
}
.bottom-center {
padding: 7px 0 0 15px;
text-align: center;
}
.bottom-right-side-item {
margin-left: 11px;
display: inline-block;
position: relative;
}
.bottom-right-side-item:first-child{
margin-left: 0;
}
.bottom-center li:nth-child(3) img {
margin-top: 4px;
width: 168px;
}
.bottom-right-side-item img {
width: 130px;
}
.bottom-right-side-item:first-child img {
width: 185px;
}
.bottom-right-side-item:last-child img {
width: 110px;
}
.bottom-right-side-wrapper {
margin-left: -15px;
padding: 0 !important;
} /*/*/.page-not-exist {
margin-top: 40px;
text-align: center;
color: #6f6f6f;
}
.error-img {
max-height: 250px;
}
.page-not-exist-title{
margin: 30px 0 15px;
font-size: 40px;
}
.page-not-exist-advice {
font-size: 20px;
}/**/.no-gutters [class*=" col-"] {
padding-right: 0!important;
padding-left: 0!important;
}
.margin-bottom0 {
margin-bottom: 0;
}
.padding-top10 {
padding-top: 10px;
}
.padding-right-media {
padding-right: 0 !important;
}
.media-line {
display: none;
}
.home-page-slide .bx-wrapper {
left: 5px;
}
.home-page-slide .bx-wrapper .bx-viewport {
border: none;
box-shadow: none;
}
.home-page-slide .bx-wrapper .bx-controls-direction a {
opacity: 0.5;
}
.home-page-slide .bx-wrapper .bx-controls-direction a:hover {
opacity: 1;
}
.home-page-slide .bx-wrapper .bx-next {
right: 11px;
}
.home-page-slide .bx-wrapper .bx-prev {
left: 0;
}
span.wpcf7-not-valid-tip {
margin-left: -108px;
color: #7EA641;
}
.course-content-enquiry span.wpcf7-not-valid-tip {
margin-left: -93px;
}
div.wpcf7-validation-errors, div.wpcf7-mail-sent-ok {
color: #7EA641;
margin-left: 0;
padding-left: 0;
}
a.color-link, a.color-link:hover {
color: #de7a00;
}