/*----------------STYLES FOR HEADER--------------*/
/*///////////////////////////////////////////////*/

html, body {
	height: 100%;
}

header {
	padding-top: 65px;
}

.brand {
    float: left;
    display: block;
    width: 361px;
    height: 77px;
    margin-top: 15px;
    background: url('images/logo.png') no-repeat center;
    background-size: 100%;
}

.slogan {
	float: right
}

.slogan .first-line {
	font-size: 25px;
	margin-bottom: 0;
}

.slogan .second-line {
	font-size: 20px;
	color: #df7c1c;
	text-align: right;
	margin-bottom: 0;
}

.first-line .selected-text {
	color: #7ea641;
}

.share_buttons a {
    display: inline-block;
    width: 20px;
    min-height: 20px;
    margin-top: 18px;
    background: url('images/share_buttons_new.png') no-repeat 0px 0;
}

.share_buttons .facebook {
    background-position: -23px 0px;
}

.share_buttons .linked-in {
    background-position: -45px 0px;
}

.btn.btn-navbar {
	display: none;
    float: right;
    padding: 7px 10px;
    margin-right: 5px;
    background-color: #ededed;
    border-color: #e5e5e5 #e5e5e5 #bfbfbf;
}

.btn-navbar .icon-bar+.icon-bar {
    margin-top: 3px;
}

.btn-navbar .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #f5f5f5;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

/*---------------navbar-menu-----------------*/

.navbar.navbar-customize {
	border-top: 1px solid #afafaf;
	margin-top: 16px;
	margin-bottom: 0;
	display: block;
}

.navbar-menu {
	width: 100%;
}

.navbar-menu .navbar-menu-item {
	width: 24%;
	text-align: center;
	padding: 15px 0;
}

.navbar-menu .navbar-menu-item a:hover, 
.navbar-menu .navbar-menu-item a:focus {
	background-color: transparent !important;
}

.navbar-menu .navbar-menu-item:first-child {
	width: 12%
}

.navbar-menu .navbar-menu-item:last-child {
	width: 16%;
}

.navbar-menu .navbar-menu-item a {
	text-transform: uppercase;
	font-size: 26px;
	display: inline-block;
	font-weight: bold;
	color: #000;
}

.navbar-menu .navbar-menu-item a.active, 
.navbar-menu .navbar-menu-item a:hover {
	color: #df7c1c ;
}

.navbar-menu .navbar-menu-item:first-child {
	text-align: left;
}

.navbar-menu .navbar-menu-item:last-child {
	text-align: right;
}

.navbar-menu .navbar-menu-item a {
	padding-left: 0;
	padding-right: 0;
}

.block-wrapper {
	padding: 0 10px;
}

.content {
	background-color: #e2e2e2;
	padding-top: 30px;
}

.content.left-side-bar {
	padding-left: 48px;
	padding-right: 40px
}

/*.side-bar-wrap {
	height: 100%;
	position: fixed;
	width: 25%;
	background-color: #e2e2e2;
}*/

.side-bar-item-wrapper {
	background-color: #E2E2E2;
	position: relative;
}

.side-bar-header {
	background-color: #df7c1c;
	font-size: 25px;
	color: white;
	text-align: center;
	position: relative;
	padding: 8px 0;
	cursor: pointer;
	margin: 0 0 20px;
	background-color: #646464;
}

.side-bar-header.active {
	background-color: #df7c1c;
}

.side-bar-header-icon {
	position: absolute;
	left: -20px;
	top: -7px;
	background-image: url('images/left-bar-icon.png');
    width: 58px;
    height: 58px;
}

.side-bar-item-menu {
	list-style: none;
	display: none;
}

.form-control.search {
	background-color: #c9c9c9;
	border-radius: 0;
	border-color: #363636;
	height: 34px !important;
}

.btn-search {
	width: 34px;
	height: 34px;
	background-color: #363636;
	border: none;
	background-image: url('images/search-icon.png');
	background-repeat: no-repeat;
	background-position: 2px;
}

.side-bar-menu {
	list-style: none;
	padding: 0;
}

.side-bar-item {
	color: #868686;
	font-size: 20px;
	padding: 10px 0;
	cursor: pointer;
}

.side-bar-item a{
	color: #868686;
}
.side-bar-item a:hover{
	color: #df7c1c;
	text-decoration: none
}

.side-bar-item a.active {
	color: #df7c1c;
}
.side-bar-header-unactive {
	background-color: #646464;
	font-size: 25px;
	color: white;
	text-align: center;
	position: relative;
	padding: 4px 0;
	margin-bottom: 20px;
}

.side-bar-menu-item {
	text-decoration: none !important;
	color: #ffffff;
}
.side-bar-menu-item:hover {
	color: #ffffff !important;
}

.side-bar-header-icon {
	position: absolute;
	left: -20px;
	top: -7px;
    width: 58px;
    height: 58px;
    z-index: 1;
}

.side-bar-header-icon.icon-design {
	background-image: url('images/pen.png');
}
.side-bar-header-icon.icon-design {
	background-image: url('images/pen.png');
}
.side-bar-header-icon.icon-video {
	background-image: url('images/video.png');
}
.side-bar-header-icon.icon-3d {
	background-image: url('images/3d.png');
}
.side-bar-header-icon.icon-web {
	background-image: url('images/web.png');
}
.side-bar-header-icon.icon-learn {
	background-image: url('images/e-learn.png');
}
.side-bar-header-icon.icon-tailored {
	background-image: url('images/tailored.png');
}

.sub-side-bar {
	list-style: none;
	font-size: 18px;
	display: none;
}
.sub-side-bar li a {
	color: #333333;
}
.sub-side-bar-item-active a {
	color: #df7c1c !important;
}
.training-level.expanded .training-level-description{
	display: block;
}
.training-level.expanded .triangle-icon {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.training-levels-title {
	background-color: #7ea641;
	position: relative;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 15px;
	cursor: pointer;
}
.training-level-description{
	display: none;
}

.triangle-icon {
	position: absolute;
	right: 20px;
	top: 3px;
	background-image: url('images/triangle.png');
	width: 20px;
	height: 20px;
}
.course-title {
	color: #df7c1c;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0px;
	padding-left: 30px;
}
.training-level-link {
	text-decoration: none;
	color: #ffffff !important; 
	background-color: #df7c1c;
	padding: 2px;
}



/*--------------- STYLES FOR MAIN-CONTENT------------*/
/*///////////////////////////////////////////////////*/

.main-content {
	min-height: -webkit-calc(100% - 269px); 	
	min-height: -moz-calc(100% - 269px); 	
	min-height: calc(100% - 269px); 	
	padding-bottom: 120px;
}

.carousel-inner img {
	min-width: 100%;
}

.courses-wrapper {
	position: relative;
	text-align: center;
}

.course-item {
	position: relative;
	min-height: 168px !important;
	margin-top: 27px;
	background-color: #E2E2E2;
}

.course-item-visible {
	height: 138px;
}

.course-item-hidden {
	display: none;
	background-color: #646464;
	color: white;
	height: 138px;
	font-size: 12px;
	padding: 10px;
    text-align: justify;
    text-indent: 20px;
}

.course-name {
	text-transform: uppercase;
	margin-top: 7px;
}

.course-logo {
	position: absolute;
	top: -11px;
	left: -10px;
	background-color: #363636;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 35px;

    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.course-logo.smoller {	
    width: 35px;
    height: 35px;    
    background-size: 20px;
}

.course-content-icons {
	margin-bottom: 10px;	
}

.course-content-icons .course-icon {
	padding: 0 10px;	
}

.collapsed-btn {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: white;
	font-size: 16px;
	padding: 3px 7px 0 0;
	height: 30px;
	background: #646464;
}

.collapsed-btn span {
	display: inline-block;
	padding-top: 1px;
	cursor: pointer;
}

.collapsed-btn .collaps-less {
	display: none;
}

.collapsed-btn.toggle .collaps-less {
	display: inline-block;
}

.collapsed-btn.toggle .collaps-more {
	display: none;
}
.content-header {
	position: relative;
	background-color: #7fa642;
	font-size: 20px;
	color: white;
	padding: 7px 0 7px 38px;
}

.news-date {
	position: absolute;
	right: 10px;
	top: 13px;
	font-size: 14px;
	color: #b0d971;
}

.content.main-content {
	padding-left: 38px;
	padding-right: 47px;
	padding-bottom: 10px;
}

.title-of-news-wrapper {
	margin-left: -38px;
	margin-bottom: 20px;	
}

.allocated-title {
	background-color: #7fa642;
	color: white;
}

.title-of-news {
	padding: 2px 10px 2px 38px;
}

.date-of-news {
	padding: 2px 5px;
	background-color: #df7c1c;
	color: white;
}

.description-news {
	text-indent: 30px;
	text-align: justify;
	margin-bottom: 30px;
}

.description-news a{
	color: #df7c1c;
}
.description-news a:hover{
	color: #df7c1c;
	text-decoration: none;
}

.news-images {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	margin-bottom: 20px;
}

.pagination-wrapper {
	text-align: right;
}

.menu-pagination {
	padding: 0;
	list-style: none;
}

.menu-pagination li {
	display: inline-block;
	border-radius: 50%;
	background-color: #bbbbbb;
	width: 20px;
	text-align: center;
}

.menu-pagination li a {
	color: white;
	font-weight: 600;
}

.menu-pagination li a:hover {
	text-decoration: none;
}

.menu-pagination li.activ {
	background-color: #7ea641;
}


/*-------------------------*/

.docklands-media-description {
	margin-top: 30px;
	text-align: justify;
}

.read-more-collapse {
	display: inline-block;
	background-color: #7ea641;
	color: white;
	font-size: 15px;
	border: none;
}

.read-more-collapse:hover {
	background-color: #73963C;
}

.read-more-collapse .read-less {
	display: none;
}

.read-more-collapse.open .read-less {
	display: inline-block;
}

.read-more-collapse.open .read-more {
	display: none;
}

.block-collapse {
	display: none;
}
/*---------blog-2--------------*/

.menu-social {	
	padding: 0;
	list-style: none;
	text-align: right;
}

.menu-social li {	
	display: inline-block;
}

.menu-social li a{	
	width: 37px;
	height: 22px;
	display: inline-block;
	border-radius: 2px;
	margin: 0 2px;
}

.menu-social li a.mail-ru{
	background-color: #1d8cfc;
}

.menu-social li a.facebook{
	background-color: #336297;
}

.menu-social li a.linkedin{
	background-color: #127cb4;
}

.menu-social li a.twitter{
	background-color: #34c5f0;
}

.menu-social li a.gmail{
	background-color: #e74237;
}

.menu-social li a{
	background-color: #b61926;
}

.post-pogination-item a {
	color: white;
}

.post-pogination-item a:hover {
	text-decoration: none;
	color: white;
}

.post-pogination-item.previous {
	float: left;
	margin-left: -38px;
	padding: 2px 10px 2px 38px;
}

.post-pogination-item.next {
	float: right;
	margin-right: -47px;	
	padding: 2px 47px 2px 20px;
}


.comments-content {
	padding-top: 20px;
}

.allocated-title.comments{
	padding-left: 10px;
	margin-bottom: 20px;
}

.form-inline {
	margin-top:	15px; 
}

.name-input {
	height: 24px !important;
	background-color: #c9c9c9 !important;
	border-radius: 0 !important;
}

.captcha-input {
	height: 24px !important;
	width: 100px !important;
	background-color: #c9c9c9 !important;
	border-radius: 0 !important;
}
.captcha-image {
	width: 56px;
	height: 18px;
	background-image: url(images/captcha.png);
	background-repeat: no-repeat;
	position: absolute;
    right: 160px;
    top: 3px;
	
}
.comment-form {
	position: relative;
}

.comment-area {
	background-color: #c9c9c9 !important;
}

.form-group.inline-block {
	display: inline-block;
}

.form-group.inline-block .form-control {
	display: inline-block;
	width: auto;
}

.name-of-autor {
	padding-top: 10px;
	color: #8bae56;
}

.time-publish {
	font-size: 12px;
	color: #909090;
}

.comment {
	margin: 0;
}

.reply {
	float: right;
	color: #8bae56;
}
.content-header {
	position: relative;
	background-color: #7fa642;
	font-size: 20px;
	color: white;
	padding: 7px 0 7px 38px;
}

.news-date {
	position: absolute;
	right: 10px;
	top: 13px;
	font-size: 14px;
	color: #b0d971;
}

.content.main-content {
	padding-left: 38px;
	padding-right: 47px;
	padding-bottom: 10px;
}

.title-of-news-wrapper {
	margin-left: -38px;
	margin-bottom: 20px;	
}

.allocated-title {
	background-color: #7fa642;
	color: white;
}

.title-of-news {
	padding: 2px 10px 2px 38px;
}

.date-of-news {
	padding: 2px 5px;
	background-color: #df7c1c;
	color: white;
}

.description-news {
	text-indent: 30px;
	text-align: justify;
	margin-bottom: 30px;
}

.description-news a{
	color: #df7c1c;
}
.description-news a:hover{
	color: #df7c1c;
	text-decoration: none;
}

.news-images {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	margin-bottom: 20px;
}

.pagination-wrapper {
	text-align: right;
}

.menu-pagination {
	padding: 0;
	list-style: none;
}

.menu-pagination li {
	display: inline-block;
	border-radius: 50%;
	background-color: #bbbbbb;
	width: 20px;
	text-align: center;
}

.menu-pagination li a {
	color: white;
	font-weight: 600;
}

.menu-pagination li a:hover {
	text-decoration: none;
}

.menu-pagination li.activ {
	background-color: #7ea641;
}


/*----------------STYLES FOR FOOTER------------------*/
/*///////////////////////////////////////////////////*/

footer {
/*    position: absolute;
    bottom: 0;
    width: 100%;*/
    padding: 20px 0;
    background: #bbbbbb;
    margin-top: -99px;
}

.menu-bottom {
	padding: 0;
}

.menu-bottom li {
	display: inline-block;
	position: relative;
	padding: 0 10px;
}

.menu-bottom li:before {
	display: inline-block;
	content: '';
	position: absolute;
	left: 0;
	top: 8px;
	width: 4px;
	height: 4px;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	background-color: white;
}

.menu-bottom li a{
	color: white;
}

.dot {
	display: inline-block;
	position: relative;
	padding: 0 7px;
}

.dot:before {
	display: inline-block;
	content: '';
	position: absolute;
	left: 5px;
	top: -6px;
	width: 4px;
	height: 4px;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	background-color: black;
}

.text-uppercase {
	text-transform: uppercase;
	font-size: 10px;
}

.bottom-right-side {
	padding: 0;
	text-align: right;
}

.bottom-right-side li {
	display: inline-block;
	position: relative;
}

.bottom-right-side li:nth-child(2) {
	padding: 0 10px;
}

.bottom-right-side li:first-child img {
	margin-top: -13px;
}





/*--------------- STYLES FOR ERROR-PAGE--------------*/
/*///////////////////////////////////////////////////*/

.page-not-exist {
	margin-top: 40px;
	text-align: center;
	color: #6f6f6f;
}

.error-img {
	max-height: 250px;
}

.page-not-exist-title{
	margin: 30px 0 15px;
	font-size: 40px;
}

.page-not-exist-advice {
	font-size: 20px;
}


/*--------------- STYLES FOR CONTUCT-US--------------*/
/*///////////////////////////////////////////////////*/

.contuct-us {
	background-color: #E2E2E2;
	padding: 16px 30px 15px 43px;
}

.contuct-us-title {
	padding: 10px 0 10px 43px;
	text-transform: uppercase;
	color: white;
	background-color: #7EA641;
	font-size: 20px;
	margin: 0;
}

.contuct-us-item-wrapper {
	margin: 10px 0 20px;
}

.contuct-us-item {
	position: relative;
	padding: 16px 0;
	margin-bottom: 15px;
}

.contuct-us-item-name {
	margin-left: 40px;
	display: inline-block;
	background-color: #7EA641;
	color: white;
	padding: 2px 10px 2px 30px;
	text-transform: uppercase;
	font-size: 15px;
}

.contuct-us-item-logo {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 58px;
	height: 58px;
	background: #363636 url(images/contacts_sprite.png);
    background-repeat: no-repeat;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.contuct-us-item-logo.on-line-form {
	background-image: url('images/note.png');
	background-position: center;
}

.contuct-us-item-logo.e-mail{
	background-position: center 15px;
}

.contuct-us-item-logo.coll-us{
	background-position: center -35px;
}

.contuct-us-item-logo.fax-us{
	background-position: center -97px;
}

.contuct-us-item-logo.connect-with-us{
	background-position: center -150px;
}

.contuct-us-item-logo.find-us{
	background-position: center -200px;	
}

.first-part-form {
	margin-top: 37px;
}

.contuct-us label {
	position: absolute;
	left: 0;
	top: 1px;
	width: 104px;
	padding: 0 4px;
	color: white;
	background-color: #7EA641;
	float: left;
	font-weight: normal;
	line-height: 32px;
}

.contuct-us .form-group {
	position: relative;
	padding-left: 108px;
	margin-bottom: 3px;
}

.contuct-us .second-part-form .form-group {	
	padding-left: 4px;
}

.contuct-us .second-part-form label {
	position: inherit;
}

.contuct-us .form-group .form-control {
	border-radius: 0px;
	background-color: #7EA641;
	color: white;
}

.contuct-us .form-group textarea {
	width: 100%;
	background-color: #7EA641;
	color: white;
	border: none; 
}

.btn.btn-submit {
	background-color: #7EA641;
	color: white;
	border-radius: 0px;
}

.btn.btn-submit:hover {
	color: white;
}

.social-buttons a {
	display: inline-block;
    padding: 0;
    width: 55px;
    height: 55px;
    background: url(images/connect_sprite.png) no-repeat 0 center;
}

.social-buttons a.twitter {
    background-position: -59px center;
}

.social-buttons a.linkedin {
    background-position: -118px center;
}

.social-buttons a.vimeo {
	background-position: -177px center;	
}

.social-buttons a.youtube {
    background-position: -236px center;
}

.social-buttons a.google {
	background-position: -292px center;
}


/*-------------------Helpers--------------------*/


.no-gutters > [class*=" col-"] {
  padding-right: 0!important;
  padding-left: 0!important;
}

.margin-bottom0 {
	margin-bottom: 0;
}


/*-----------------@media query-----------------*/


@media (min-width: 1600px) {
	.side-bar-wrap {
		width: 20%;
	}
}

@media (min-width: 1900px) {
	.side-bar-wrap {
		width: 18%;
	}
}


@media (max-width: 1200px) {

	.course-content-icons .course-icon {
		padding: 0 8px; 
	}

	.bottom-right-side-item img {
		width: 140px;
	}
}

@media (max-width: 991px) {
	.navbar-menu .navbar-menu-item a {
		font-size: 23px;
	}

	.bottom-right-side li:nth-child(2) {
		padding: 0;
	}

	.bottom-right-side li {
		margin-bottom: 10px;
	}
}

@media (min-width: 768px) {

	.navbar.navbar-customize {
		display: block !important;
	}
}

@media (max-width: 768px) {

	.slogan {
		float: none;
		text-align: center;
	}

	.slogan .first-line,
	.slogan .second-line {
		display: inline-block;
		font-size: 20px;
		margin-bottom: 0;
		color: #afafaf;
	}

	.first-line .selected-text {
		color: #afafaf;
	}

	.main-content {
		min-height: -webkit-calc(100% - 272px);  
		min-height: -moz-calc(100% - 272px);  
		min-height: calc(100% - 272px);  
		padding-bottom: 120px;
	}

	.navbar-nav.navbar-menu {
		margin: 0; 
	}

	.navbar-menu .navbar-menu-item:first-child, 
	.navbar-menu .navbar-menu-item:last-child, 
	.navbar-menu .navbar-menu-item {
		width: 100%;
		text-align: center;
	}

	.btn.btn-navbar {
		display: block;
		margin-bottom: 16px;
	}

	.navbar.navbar-customize {
		display: none;
		margin-top: 0px;
		min-height: 0;
	}

	.error-img {
		max-height: 200px;
	} 

	.page-not-exist-title{
		font-size: 35px;
	}

	.page-not-exist-advice {
		font-size: 18px;
	}

	.contuct-us .second-part-form .form-group {
		padding-left: 0;
	}

	.contuct-us {
		padding: 15px;
	}

	.contuct-us-title {
		padding-left: 15px;
	}


	.brand {
		width: 290px;
		margin: 15px auto 0;
		float: none;
	}

}


@media (max-width: 480px) {

	.course-content-icons .course-icon {
		padding: 0 6px;
	}

	.slogan .first-line {
		display: block;
	}

	.error-img {
		max-height: 150px;
	} 

	.page-not-exist-title{
		font-size: 28px;
	}

	.page-not-exist-advice {
		font-size: 16px;
	}

	.contuct-us {
		padding: 15px 10px;
	}

	.content-contuct .container {
		padding: 0 7px;
	} 
}

/*@media (max-width: 1200px) {

	.error-title {
		font-size: 44px;
	}
}
@media (max-width: 768px) {

	.error-title {
		font-size: 36px;
	}
	.error-description {
		font-size: 16px;
	}
}
@media (max-width: 600px) {
	.error-title {
		font-size: 30px;
	}
}
@media (max-width: 400px) {
	.error-title {
		font-size: 20px;
	}
	.error-description {
		font-size: 14px;
	}
}*/

/*

.image-position {
	text-align: center;
}
.error-image {
	text-align: center;
	width: 50%;

}
.error-title {
	color: #6f6f6f;
	text-align: center;
	font-size: 54px;
	font-weight: bold;
	padding-bottom: 20px;
}
.error-description {
	color: #707070;
	text-align: center;
	font-size: 20px;
}*/