/*-----------------------------Dates Metabox-------------------------------*/
.dates-table {
	width: 70%;
	border-collapse: collapse;
}
a.ui-datepicker-prev,
a.ui-datepicker-next {
	display: block!important;
}
.ui-datepicker-title {
	text-align: center!important;
}
.ui-state-hover {
	border: none!important;
	background: none!important;
	cursor: pointer;
}
.dates-table .dashicons {
	cursor: pointer;
}
.dates-table .dashicons-trash:hover {
	color: #D10000;
}
.dates-table .dashicons-plus-alt:hover {
	color: #019A00;
}
.dates-table .dashicons-admin-page:hover {
	color: #00909A;
}
.dates-table .datepicker {
    width: 80%;
}
.dates-table td {
	border: 1px solid #B2B5D0;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 5px 10px;
}
.dates-table tfoot td {
	border: none;
}
.dates-table thead td {
    font-size: 16px;
    background-color: rgb(63, 133, 188);
    color: #ffffff;
    font-weight: 600;
}
.dates-table tr td:last-child {
	text-align: center;
}
.dates-table tr td:first-child {
	width: 15px;
    text-align: center;
}
.dates-table tr td:nth-child(3),
.dates-table tr td:nth-child(4) {
	width: 110px;
}
.dates-table tr td:nth-child(2) {
    max-width: 110px;
}
.input-dashed {
    border-bottom: 1px dashed #008FF1;
    color: #008FF1;
    max-width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    min-width: 15px;
    min-height: 15px;
}
.ui-datepicker-trigger {
	width: 16px;
	cursor: pointer;
}
input.datepicker.error {
	border-color: #D95B5B;
    box-shadow: 0 0 2px rgba(190, 30, 30, 0.8);
}
input.edit-text {
	display: none;
	width: 81%;
    float: left;
}
.dates-table .dashicons-yes {
	float: left;
    width: 17%;
    line-height: 30px;
    height: 31px;
    display: none;
}
.dates-table .dashicons-yes:hover {
	color: #24951E;
}
.dates-table .shown {
	display: block;
}
.dates-table .hidden {
	display: none;
}
.dates-table .edit-text.error, 
.dates-table .datepicker.error {
    outline: #F40000 auto 5px;
    border-color: rgba(205, 0, 0, 0.23);
}
.error-msg {
	min-width: 100%;
    width: 100%;
    display: block;
    margin-top: 5px;
    visibility: hidden;
    color: #E30505;
    min-height: 20px;
}
.title-block {
    overflow: hidden;
    width: 100%;
    margin-bottom: 5px;
}
.title-block h3 {
    float: left;
}
.title-block input {
    float: left;
    line-height: 25px;
}
/*-------------------------End of Dates Metabox----------------------------*/
